language: rust
rust:
  - nightly
cache:
- cargo
script:
- RUST_BACKTRACE=1 CARGO_INCREMENTAL=0 cargo test --all
matrix:
  fast_finish: true
os:
  - linux
  - osx
  - windows
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars32.bat"; fi  